build/
dist/
x.bat
find.rpt
gitmerge.bat
nbproject/private/
web/META-INF/
web/WEB-INF/lib/
web/css/farbtastic.css
web/css/jquery.minicolors.css
web/images/high_tatras.jpg
web/images/high_tatras2.jpg
web/images/high_tatras2_min.jpg
web/images/high_tatras3.jpg
web/images/high_tatras3_min.jpg
web/images/high_tatras4.jpg
web/images/high_tatras4_min.jpg
web/images/high_tatras_min.jpg
web/images/jquery.minicolors.png
web/images/minus.gif
web/images/plus.gif
web/images/ui-bg_diagonals-thick_18_b81900_40x40.png
web/images/ui-bg_diagonals-thick_20_666666_40x40.png
web/images/ui-bg_flat_10_000000_40x100.png
web/images/ui-bg_glass_100_f6f6f6_1x400.png
web/images/ui-bg_glass_100_fdf5ce_1x400.png
web/images/ui-bg_glass_65_ffffff_1x400.png
web/images/ui-bg_gloss-wave_35_f6a828_500x100.png
web/images/ui-bg_highlight-soft_100_eeeeee_1x100.png
web/images/ui-bg_highlight-soft_75_ffe45c_1x100.png
web/images/ui-icons_222222_256x240.png
web/images/ui-icons_228ef1_256x240.png
web/images/ui-icons_ef8c08_256x240.png
web/images/ui-icons_ffd27a_256x240.png
web/images/ui-icons_ffffff_256x240.png
web/jquery-minicolors-master/
web/js/farbtastic.js
web/js/farbtastic.min.js
web/js/jquery-1.10.2.js
web/js/jquery-1.10.2.min.js
web/js/jquery-ui-1.10.3.zip
web/js/jquery.blockUI.js
web/js/jquery.minicolors.js
web/js/jquery.minicolors.min.js
web/js/jsonpath-0.8.0.js
/web/hold/

rect.html
test/QuickJSONFormatter/
test/formatJSON.html
test/jsonf-read-only/
web/LabelDesigner0.jsp
web/LabelDesigner1.jsp
web/LabelDesigner2.jsp
web/LabelDesigner3.jsp
web/LabelDesigner4.jsp
web/LabelDesigner5.jsp
web/LabelDesigner6.jsp
web/LabelDesigner7.jsp
web/LabelDesigner8.jsp
web/LabelDesigner9.jsp
web/LabelDesignerA.jsp
web/LabelDesignerB.jsp
web/LabelDesignerC.jsp
web/LabelDesignerD.jsp
web/LabelDesignerE.jsp
web/LabelDesignerF.jsp
web/LabelDesignerG.jsp
web/LabelDesignerH.jsp
web/css/jquery.jscrollpane.css
web/js/LabelDesigner0.js
web/js/LabelDesigner1.js
web/js/LabelDesigner2.js
web/js/LabelDesigner3.js
web/js/LabelDesigner4.js
web/js/LabelDesigner5.js
web/js/LabelDesigner6.js
web/js/LabelDesigner7.js
web/js/LabelDesigner8.js
web/js/LabelDesigner9.js
web/js/LabelDesignerA.js
web/js/LabelDesignerB.js
web/js/LabelDesignerC.js
web/js/LabelDesignerD.js
web/js/LabelDesignerE.js
web/js/LabelDesignerF.js
web/js/LabelDesignerG.js
web/js/LabelDesignerH.js
web/js/jquery.jscrollpane.js
web/js/jquery.jscrollpane.min.js
web/js/jquery.mousewheel.js
web/js/jquery.nicescroll.js
web/js/jquery.nicescroll.min.js
web/js/mwheelIntent.js